*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

.users-table tr > th{
    border: 1px solid grey ;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 100%;
    
    color: white;
}

