
  @if(!isEditing){

    <td>
      <p [style.background-color]="backGroundColor">{{initial}}</p>
    </td>
    <td>{{user?.name}}</td>
    <td>{{user?.email}}</td>
    <td>
      <button class="edit-btn" data-id="4" (click)="startEditing()">Edit</button>
      <button class="delete-btn" data-id="4" (click)="deleteUser()">Delete</button>
    </td>
  }@else {

  <td>
    <p [style.background-color]="backGroundColor">{{initial}}</p>
  </td>

  <td>
    <input type="text" 
           [(ngModel)]="newName" 
           placeholder="Име" 
           class="edit-name" />
  </td>

  <td>
    <input type="email" 
           [(ngModel)]="newEmail" 
           placeholder="Имейл" 
           class="edit-email" />
  </td>

  <td>
    <button  class="add-btn" (click)="edit()">Edit</button>
    <button  class="add-btn" style="background-color: red" (click)="stopEditing()">Stop</button>
  </td>

  }
  
