th,
td {
    border: 1px solid #ddd;
    padding: 8px 12px;
}

th {
    background-color: #f4f4f4;
}

input {
    width: 95%;
    padding: 6px;
    box-sizing: border-box;
}
.add-user-row{
    display: none;
}