<p>users-list-component works!</p>
    <main>
        <table id="table" class="users-table">
            <thead>
                <tr>
                    <th>Avatar</th>
                    <th>Name</th>
                    <th>Email</th>
                    @if(isAdding){
                        <th><button class="add-btn" id="add-btn" (click)="stopAddingUser()" style="background-color: red">Stop</button></th>
                    }@else {

                        <th><button class="add-btn" id="add-btn" (click)="addUser()" >Add</button></th>
                    }
            </thead>
            <tbody> <!-- Примерен статичен ред -->
                @if(users$ == null){

                }
                @else {
                    @for(user of users$|async;track user.id){
                        <tr app-user-row [user]="user"></tr>
                    }
                    
                }
            </tbody>
            @if(isAdding == false){

            }@else {

                <tr id="add-user-row" class="add-user-row">
                    <td> <p></p></td>
                    <td> <input type="text" id="new-name" placeholder="Име" /> </td>
                    <td> <input type="email" id="new-email" placeholder="Имейл" /> </td>
                    <td> <button id="add-user-btn">Add</button> </td>
                </tr>
            }
        </table>
        <button id="loadBtn" (click)="loadUsers()" >Load users</button>
    </main>