<p>users-list-component works!</p>
    <main>
        <table id="table" class="users-table">
            <thead>
                <tr>
                    <th>Avatar</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th><button class="add-btn" id="add-btn">Add</button></th>
            </thead>
            <tbody> <!-- Примерен статичен ред -->
                <tr app-user-row></tr>
            </tbody>
            <tr id="add-user-row" class="add-user-row">
                    <td> <p></p></td>
                    <td> <input type="text" id="new-name" placeholder="Име" /> </td>
                    <td> <input type="email" id="new-email" placeholder="Имейл" /> </td>
                    <td> <button id="add-user-btn">Add</button> </td>
                </tr>
        </table>
        <button id="loadBtn" >Load users</button>
    </main>