<p>users-list-component works!</p>
    <main>
        <table id="table" class="users-table">
            <thead>
                <tr>
                    <th>Avatar</th>
                    <th>Name</th>
                    <th>Email</th>
                    @if(isAdding){
                        <th><button class="add-btn" id="add-btn" (click)="stopAddingUser()" style="background-color: red">Stop</button></th>
                    }@else {

                        <th><button class="add-btn" id="add-btn" (click)="startAddingUser()" >Add</button></th>
                    }
            </thead>
            <tbody> <!-- Примерен статичен ред -->
                @if(users == null){

                }
                @else {
                    @for(user of users;track user.id){
                        <tr app-user-row [user]="user"
                            (deleteUserEvent)="onDelete(user.id)"
                        ></tr>
                    }
                    
                }
            </tbody>
            @if(isAdding == false){

            }@else {

                <tr id="add-user-row" class="add-user-row">
                    <td> <p></p></td>
                    <td> <input [(ngModel)]="inputName"  type="text" id="new-name" placeholder="Име" /> </td>
                    <td> <input [(ngModel)]="inputEmail" type="email" id="new-email" placeholder="Имейл" /> </td>
                    <td> <button id="add-user-btn" (click)="addUser()">Add</button> </td>
                </tr>
            }
        </table>
        <button id="loadBtn" (click)="loadUsers()" >Load users</button>
    </main>